// sass --watch scss/style.scss:css/style.css --style compact
@import 'components/variables';
@import 'components/fonts';
@import 'components/mixins';
@import 'components/common';

// font-family: 'Lato', sans-serif;
// font-family: 'Nunito', sans-serif;
body {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: $default-text-color;
}

/* ----- HEADER STYLE START ----- */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    @include transition;

    padding-top: 5px;
    padding-bottom: 5px;

    @include min_width($BP_md_min) {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    @include min_width($BP_xl_min) {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    // responsive
    @include max_width($BP_md_max) {
        background-color: #fff;
    }
}

.header {
    $mobileViewVP_forHeader: $BP_lg_max;
    $mobileViewLeftMenuWidth: 300px;

    .logo-sec {
        >a {
            width: 160px;
            @include transition;

            @include min_width($BP_md_min) {
                width: 200px;
            }

            @include min_width($BP_xl_min) {
                width: 270px;
            }
        }
    }

    .menu-sec {
        padding-left: 15px;

        @include min_width($BP_lg_min) {
            padding-left: 25px;
        }
    }

    .menu-links {
        @include min_width($BP_lg_min) {
            padding-right: 30px;
        }

        .menu-link {
            font-size: 18px;
            color: #000;
            text-transform: uppercase;
            @include transition;

            @include min_width($BP_lg_min) {
                color: #fff;

                &:not(:last-child) {
                    padding-right: 20px;
                }
            }

            @include min_width($BP_xl_min) {

                &:not(:last-child) {
                    padding-right: 30px;
                }
            }
        }

        // mobile menu
        @include max_width($mobileViewVP_forHeader) {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;
            @include transition;

            >.inner {
                position: fixed;
                top: 0;
                left: -100%;
                height: 100%;
                width: $mobileViewLeftMenuWidth;
                background-color: #fff;
                padding-top: 50px;
                z-index: 1;
                @include transition(.3s);
            }

            .menu-link {
                width: 100%;
                padding: 12px 20px;
            }

            .mobile-menu-toggle.mml-close {
                top: 12px;
                left: calc(#{$mobileViewLeftMenuWidth} - 150px);
                color: #333;
                z-index: 2;
                font-size: 20px;
                height: 35px;
                width: 35px;
                line-height: 38px;
                background: #efefef;
                text-align: center;
                border-radius: 50%;
                @include transition(.5s);
            }
        }

        // menu visible on mobile
        &.active {
            opacity: 1;
            visibility: visible;

            >.inner {
                left: 0;
            }

            .mobile-menu-toggle.mml-close {
                opacity: 1;
                left: calc(#{$mobileViewLeftMenuWidth} - 50px);
            }
        }
    }

    .menu-icons {
        .menu-icon {
            font-size: 20px;
            color: #fff;
            @include transition;

            &:not(:last-child) {
                padding-right: 20px;

                @include min_width($BP_xl_min) {
                    padding-right: 30px;
                }
            }

            @include max_width($BP_md_max) {
                color: #000;
            }
        }
    }
}

// header fixed
header.fixed {
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.1);

    @include min_width($BP_md_min) {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    @include min_width($BP_lg_min) {
        .header {
            .logo-sec {
                >a {
                    width: 180px;
                }
            }
        }
    }

    .menu-links {
        .menu-link {
            color: #000;
        }
    }

    .menu-icons {
        .menu-icon {
            color: #000;
        }
    }
}

/* ----- HEADER STYLE END ----- */

/* ----- MAIN STYLE START ----- */
#main {
    @include max_width($BP_md_max) {
        margin-top: 68px;
    }
}

/* ----- MAIN STYLE END ----- */


/* ----- SILDER STYLE START ----- */
#home-slider {}

.home-slider {

    .swiper-slide {
        >.overlay {
            top: 0;
            left: 0;
            box-shadow: inset 0px 0px 100px 20px rgba(0, 0, 0, 1);

            @include min_width($BP_md_min) {
                box-shadow: inset 0px 0px 210px 100px rgba(0, 0, 0, 1);
            }
        }

        >.caption {
            top: 0;
            left: 0;
        }
    }
}

/* ----- SILDER STYLE END ----- */


/* ----- HOME SEC2 STYLE START ----- */
#home-sec2 {}

.home-sec2 {
    .lt-sec {
        @include min_width($BP_lg_min) {
            >.inner {
                max-width: 500px;
            }
        }

        .sub-head {
            color: $secondary-color;
            font-size: 20px;

            @include min_width($BP_lg_min) {
                font-size: 24px;
            }
        }

        .desc {
            font-size: 19px;
        }
    }
}

/* ----- HOME SEC2 STYLE END ----- */


/* ----- WHY CHOOSE US STYLE START ----- */
#why-choose-us {}

.why-choose-us {
    .st-heading-container {
        margin-bottom: 20px;

        @include min_width($BP_lg_min) {
            margin-bottom: 60px;
        }
    }

    .item {
        margin-bottom: 15px;

        @include min_width($BP_lg_min) {
            margin-bottom: 50px;

            &:nth-child(even) {
                padding-right: 25px;
            }

            &:nth-child(odd) {
                padding-left: 25px;
            }
        }

        >.inner {
            padding: 15px;
            border: 1px solid #c7c7c7;

            @include min_width($BP_lg_min) {
                padding: 40px;
            }
        }

        .icon-sec {
            width: 65px;
            padding-top: 10px;

            @include min_width($BP_md_min) {
                width: 80px;
            }

            @include min_width($BP_lg_min) {
                width: 110px;
            }
        }

        .text-sec {
            padding-left: 15px;

            @include min_width($BP_lg_min) {
                padding-left: 30px;
            }

            .head {
                font-size: 24px;
                font-weight: 600;
                line-height: normal;

                @include min_width($BP_md_min) {
                    font-size: 33px;
                }
            }

            .desc {
                font-size: 16px;

                @include min_width($BP_md_min) {
                    font-size: 18px;
                }
            }
        }
    }
}

/* ----- WHY CHOOSE US STYLE END ----- */

/* ----- OUR PRODUCTS STYLE START ----- */
#our-products {
    background-color: #f2f2f2;

    .st-heading-container {
        margin-bottom: 20px;

        @include min_width($BP_lg_min) {
            margin-bottom: 60px;
        }
    }

    .btns {
        padding-top: 20px;
    }
}

.our-products {
    @include min_width($BP_lg_min) {
        margin-left: -25px;
        margin-right: -25px;
    }

    .item {
        margin-bottom: 15px;

        @include min_width($BP_md_min) {
            margin-bottom: 32px;
        }

        @include min_width($BP_lg_min) {
            padding-left: 25px;
            padding-right: 25px;
            margin-bottom: 50px;
        }

        >.inner-bg {
            background: $primary-color;
            background: linear-gradient(45deg, $primary-color 0%, $secondary-color 100%);
            padding: 4px;
            border-radius: 10px;
            @include transition(.4s);

            >.inner-main {
                background-color: #fff;
                padding: 15px;
                border-radius: 5px;

                @include min_width($BP_lg_min) {
                    padding: 35px;
                }

                @include transition(.4s);
            }
        }

        .img-sec {
            width: 90px;
        }

        .text-sec {
            padding-left: 15px;

            @include min_width($BP_lg_min) {
                padding-left: 25px;
            }

            .head,
            .desc {
                @include transition;
            }

            .head {
                font-size: 24px;
                font-weight: 800;
                color: $primary-color;

                @include min_width($BP_md_min) {
                    font-size: 25px;
                }

                @include min_width($BP_lg_min) {
                    font-size: 32px;
                }
            }

            .desc {
                font-size: 16px;
                color: $dark-grey-text-color;
                font-weight: 600;
                line-height: normal;

                @include min_width($BP_md_min) {
                    font-size: 17px;
                }

                @include min_width($BP_lg_min) {
                    font-size: 20px;
                }
            }
        }

        >.inner-bg {
            &:hover {
                background: $primary-color;
                background: linear-gradient(90deg, $primary-color 44%, $secondary-color 100%);

                >.inner-main {
                    background: $primary-color;
                    background: linear-gradient(90deg, $primary-color 44%, $secondary-color 100%);
                }

                .text-sec {

                    .head,
                    .desc {
                        color: #fff;
                    }
                }
            }
        }
    }
}

/* ----- OUR PRODUCTS STYLE END ----- */

/* ----- OUR CLIENTS STYLE START ----- */
#our-clients {}

.our-clients {
    .st-heading-container {
        margin-bottom: 20px;

        @include min_width($BP_lg_min) {
            margin-bottom: 60px;
        }
    }

    .slider-item {
        .text {
            font-size: 16px;
            color: $dark-grey-text-color;

            span {
                color: $grey-text-color;
                font-size: 30px;
                margin-bottom: 10px;
            }
        }

        .user-details {

            .img-sec {
                height: 65px;
                width: 65px;
                border-radius: 50%;
                overflow: hidden;
            }

            .text-sec {
                padding-left: 15px;

                .name {
                    font-size: 16px;
                    font-weight: 800;
                }

                .desg {
                    color: $dark-grey-text-color;
                }
            }

            .star-rating {
                font-size: 14px;
                color: $golden-color;
            }
        }
    }
}

/* ----- OUR CLIENTS STYLE END ----- */

/* ----- TOP BRANDS STYLE START ----- */
#top-brands {}

.top-brands {

    .st-heading-container {
        margin-bottom: 20px;

        @include min_width($BP_lg_min) {
            margin-bottom: 60px;
        }
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 120px;
    }

    .swiper {
        @include min_width($BP_lg_min) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        @include min_width($BP_lg_min) {
            font-size: 25px;
        }

        &::after {
            content: none;
        }
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }
}

/* ----- TOP BRANDS STYLE END ----- */

/* ----- INQUIRY FORM STYLE START ----- */
#inquiry-form {
    background: transparent url('../images/bottom-contact-form-bg.jpg') no-repeat 0 0 / cover;
}

.inquiry-form {}

/* ----- INQUIRY FORM STYLE END ----- */

/* ----- FOOTER STYLE START ----- */
footer {
    background: $primary-color;
    padding-top: 30px;
    padding-bottom: 15px;

    @include min_width($BP_lg_min) {
        padding-top: 70px;
        padding-bottom: 30px;
    }
}

.footer {
    color: #fff;
    font-size: 16px;

    @include min_width($BP_md_min) {
        font-size: 18px;
    }

    .footer-item {
        &.fi-info {
            >.inner {
                @include min_width($BP_lg_min) {
                    padding-right: 35px;
                }
            }
        }

        &.fi-newsletter {
            >.inner {
                @include min_width($BP_lg_min) {
                    padding-right: 35px;
                }
            }
        }
    }

    .links-list {
        >.link {
            padding-left: 20px;
            position: relative;
            @include transition;
            opacity: 1;

            &::before {
                content: '';
                height: 10px;
                width: 10px;
                border: 2px solid $secondary-color;
                border-radius: 50%;
                display: block;
                left: 0;
                top: 8px;
                position: absolute;
            }

            &:hover {
                opacity: .8;
            }

        }

        @include max_width($BP_lg_max) {
            display: flex;
            flex-wrap: wrap;

            >.link {
                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
    }

    .info-item {
        @include transition;

        i {
            color: $secondary-color;
            font-size: 20px;
        }

        &:hover {
            opacity: .8;
        }
    }

    .social-links {
        >.sl-link {
            font-size: 20px;

            @include min_width($BP_lg_min) {
                font-size: 35px;
            }

            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    .item-copyright {
        margin-top: 20px;

        @include min_width($BP_lg_min) {
            margin-top: 60px;
        }

        >.inner {
            border-top: 1px solid #9e9e9e;
            padding-top: 15px;

            @include min_width($BP_lg_min) {
                padding-top: 30px;
            }
        }
    }
}

/* ----- FOOTER STYLE END ----- */

/* ----- PAGE BANNER STYLE START ----- */
#page-banner {}

.page-banner {
    .caption {
        top: 0;
        left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        box-shadow: inset 0px 0px 100px 20px rgba(0, 0, 0, 1);

        @include min_width($BP_md_min) {
            box-shadow: inset 0px 0px 210px 100px rgba(0, 0, 0, 1);
        }
    }

    .links {
        >a {
            color: #fff;
            @include transition;
            font-size: 16px;

            @include min_width($BP_lg_min) {
                font-size: 19px;
            }

            &:not(:last-child)::after {
                content: '>';
                margin: 0 10px 0 20px;
            }

            &:hover {
                opacity: .8;
            }

            &:last-child {
                pointer-events: none !important;
            }
        }
    }
}

/* ----- PAGE BANNER STYLE END ----- */

/* ----- PAGE | CONTACT US ----- */
/* ----- CONACT SECTION 2 STYLE START ----- */
#contact-sec2 {
    background-color: #efefef;
}

.contact-sec2 {
    @include min_width($BP_lg_min) {
        margin-left: -25px;
        margin-right: -25px;
    }

    .item {
        @include min_width($BP_lg_min) {
            padding-left: 25px;
            padding-right: 25px;
        }

        @include min_width($BP_md_min) {}

        @include min_width($BP_lg_min) {}

        >.inner-bg {
            background: $primary-color;
            background: linear-gradient(49deg, $primary-color 6%, $secondary-color 100%);
            padding: 4px;
            @include transition;

            >.inner-main {
                padding: 20px;
                @include transition;

                @include min_width($BP_lg_min) {
                    padding: 30px;
                }
            }
        }

        .icon-sec {
            height: 70px;
            width: 70px;
            font-size: 27px;
            border-radius: 50%;
            background-color: #effafb;
            color: $primary-color;
            margin-bottom: 15px;

            @include min_width($BP_lg_min) {
                margin-bottom: 20px;
            }
        }

        .text-sec {
            color: #fff;
            font-size: 16px;
            line-height: normal;

            @include min_width($BP_lg_min) {
                font-size: 21px;
            }

        }

        >.inner-bg {
            &:hover {
                box-shadow: 0 0 10px 2px rgba(0, 0, 0, .3);

                >.inner-main {
                    background-color: #fff !important;
                }

                .text-sec {
                    color: #333;
                }
            }
        }
    }
}

/* ----- CONACT SECTION 2 STYLE END ----- */

/* ----- CONACT SECTION 2 STYLE START ----- */
#contact-map {}

.contact-map {
    iframe {
        margin-bottom: -7px;
    }
}

/* ----- CONACT SECTION 2 STYLE END ----- */

/* ----- PAGE | ABOUT US ----- */
/* ----- ABOUT MAIN STYLE START ----- */
#about-main {}

.about-main {
    .lt-sec {
        @include min_width($BP_lg_min) {
            >.inner {
                max-width: 500px;
            }
        }

        .bg-img {
            top: 40px;
            left: -5px;
            width: 100px;

            @include min_width($BP_md_min) {
                top: 80px;
                left: -30px;
            }

            @include min_width($BP_lg_min) {
                left: -80px;
            }
        }
    }

    .sub-head {
        color: $secondary-color;
        font-size: 20px;

        @include min_width($BP_lg_min) {
            font-size: 24px;
        }
    }

    .desc {
        font-size: 17px;

        @include min_width($BP_lg_min) {
            font-size: 19px;
        }
    }
}

/* ----- ABOUT MAIN STYLE END ----- */

/* ----- ABOUT MISSION STYLE START ----- */
#about-mission {
    background-color: #efefef;
}

.about-mission {
    .desc {
        font-size: 17px;
        font-weight: 600;

        @include min_width($BP_lg_min) {
            font-size: 19px;
        }
    }

    .lt-sec {
        @include min_width($BP_lg_min) {
            padding-right: 100px;
        }
    }
}

/* ----- ABOUT MISSION STYLE END ----- */

/* ----- VISION MISSION STYLE START ----- */
#vision-mission {}

.vision-mission {
    .desc {
        font-size: 17px;
        font-weight: 600;

        @include min_width($BP_lg_min) {
            font-size: 19px;
        }
    }

    .rt-sec {
        @include min_width($BP_lg_min) {
            padding-left: 100px;
        }
    }
}

/* ----- VISION MISSION STYLE END ----- */

/* ----- PAGE | SERVICES ----- */

/* ----- PRODUCTS LISTING VIEW STYLE START ----- */
#products-listing-view {}

.products-listing-view {
    .left-bar {
        @include min_width($BP_md_min) {
            width: 220px;
            position: sticky;
            top: 100px;
        }

        @include min_width($BP_lg_min) {
            width: 270px;
        }

        .frac-head {
            text-transform: uppercase;
            font-weight: 800;
            font-size: 19px;
        }

        .frac {
            border-bottom: 1px solid #c6c6c6;
            padding-bottom: 25px;
            margin-bottom: 25px;
        }

        // responsive
        @include max_width($BP_md_max) {
            width: 100%;
            display: none;
        }
    }

    .main-content {
        @include max_width($BP_md_max) {
            width: 100%;
        }

        @include min_width($BP_md_min) {
            padding-left: 20px;
        }

        @include min_width($BP_lg_min) {
            padding-left: 60px;
        }

        .top-sec {
            font-size: 16px;

            .st-form {
                width: 150px;

                @include min_width($BP_md_min) {
                    width: 180px;
                }

                @include min_width($BP_lg_min) {
                    width: 250px;
                }

                select {
                    height: 35px;
                    font-size: 15px;
                }
            }

            margin-bottom: 15px;

            @include min_width($BP_lg_min) {
                margin-bottom: 40px;
            }
        }

        .bottom-sec {

            .st-form {
                select {
                    height: 35px;
                    font-size: 15px;
                }
            }
        }
    }

    .products-listing {
        @include min_width($BP_md_min) {
            margin-left: -10px;
            margin-right: -10px;
        }
    }
}

.product-item {
    padding-bottom: 20px;

    @include min_width($BP_md_min) {
        padding-left: 10px;
        padding-right: 10px;
    }

    >.inner {
        border: 1px solid #c6c6c6;
        padding: 15px;

        @include min_width($BP_lg_min) {
            padding: 20px;
        }

        @include transition;

        &:hover {
            box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
        }
    }

    .img-sec {
        img {
            max-height: 100%;
            height: 200px;
        }
    }

    .text-sec {
        .p-name {
            font-weight: 600;
            font-size: 20px;
            color: #333;
        }

        .p-type {
            color: $primary-color;
            font-weight: 600;
            font-size: 17px;
        }

        .p-price {
            font-weight: 700;
            font-size: 24px;
            color: #333;
        }
    }

    .favourite-checkbox {
        top: 10px;
        right: 10px;
        cursor: pointer;

        img {
            width: 30px;

            &.checked {
                display: none;
            }
        }

        >input:checked {
            ~.checked {
                display: block;
            }

            +.not-checked {
                display: none;
            }
        }
    }
}

.pagination {
    .p-link {
        height: 35px;
        width: 35px;
        padding: 5px;
        color: #333;
        @include transition;

        &.left,
        &.right {
            border: 1px solid #c6c6c6;
        }

        &.active,
        &:hover {
            color: #000;
            font-weight: 600;
        }
    }
}

/* ----- PRODUCTS LISTING VIEW STYLE END ----- */

/* ----- PRODUCTS DETAILS VIEW STYLE START ----- */
#products-details-view {}

.products-details-view {
    .rt-sec {
        .frac {
            padding-bottom: 15px;
            margin-bottom: 15px;

            &:not(:last-child) {
                border-bottom: 1px solid #afafaf;
            }

            @include min_width($BP_lg_min) {
                padding-bottom: 25px;
                margin-bottom: 25px;
            }

            .p-name {
                font-size: 23px;
                font-weight: 800;
                line-height: normal;

                @include min_width($BP_lg_min) {
                    font-size: 33px;
                }
            }

            .p-price {
                font-size: 19px;
                font-weight: 600;
                color: #333;

                @include min_width($BP_lg_min) {
                    font-size: 25px;
                }
            }

            .det {
                font-size: 17px;

                span {
                    font-weight: 600;
                }
            }

            .share-icons {
                .s-icon {
                    font-size: 18px;
                    color: #333;
                    margin-right: 15px;
                }
            }
        }
    }
}

/* ----- PRODUCTS DETAILS VIEW STYLE END ----- */

/* ----- PRODUCTS ADDITIONAL VIEW STYLE START ----- */
#products-additional-details {
    nav {
        background-color: $secondary-color;
        padding-top: 5px;
        padding-bottom: 5px;

        .tb-item {
            padding: 0;
            background: transparent;
            border: none;
            outline: none;
            padding: 15px 13px;
            text-transform: uppercase;
            font-size: 17px;
            font-weight: 600;
            color: #fff;
            line-height: normal;

            @include min_width($BP_md_min) {
                margin: 0 5px;
            }

            @include min_width($BP_lg_min) {
                padding: 17px 5px;
                border-bottom: 4px solid transparent;

                &.active {
                    border-bottom-color: $primary-color;
                }
            }

            @include max_width($BP_lg_max) {
                &.active {
                    background-color: $primary-color;
                }
            }

        }
    }

    .tab-content {
        .tab-pane {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        @include min_width($BP_lg_min) {
            .tab-pane {
                padding-top: 50px;
                padding-bottom: 50px;
            }
        }

        .p-desc {
            font-size: 17px;
            font-weight: 600;
        }
    }
}

/* ----- PRODUCTS ADDITIONAL VIEW STYLE END ----- */

/* ----- QNQUIRY FORM STYLE START ----- */
.qnquiry-form {

    .lt>.img,
    .rt>.form {
        height: 100%;
        padding: 30px;
    }

    .rt>.form {
        background-color: #f7f7f7;

        .heading {
            font-size: 30px;
            font-weight: 600;

            @include min_width($BP_lg_min) {
                font-size: 30px;
            }
        }
    }
}

// just for test

/* ----- QNQUIRY FORM STYLE END ----- */