// font-family: 'Lato', sans-serif;
// font-family: 'Nunito', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

// nunito
.font-family-nunito {
    font-family: 'Nunito', sans-serif;
}

// lato
.font-family-lato {
    font-family: 'Lato', sans-serif;
}

/* FONT WEIGHT CLASSES */
.st-fw-100 {
    font-weight: 100 !important;
}

.st-fw-200 {
    font-weight: 200 !important;
}

.st-fw-300 {
    font-weight: 300 !important;
}

.st-fw-400 {
    font-weight: 400 !important;
}

.st-fw-500 {
    font-weight: 500 !important;
}

.st-fw-600 {
    font-weight: 600 !important;
}

.st-fw-700 {
    font-weight: 700 !important;
}

.st-fw-800 {
    font-weight: 800 !important;
}

.st-fw-900 {
    font-weight: 900 !important;
}

/* SIZES */
.st-fs-10 {
    font-size: 10px !important;
}

.st-fs-11 {
    font-size: 11px !important;
}

.st-fs-12 {
    font-size: 12px !important;
}

.st-fs-13 {
    font-size: 13px !important;
}

.st-fs-14 {
    font-size: 14px !important;
}

.st-fs-15 {
    font-size: 15px !important;
}

.st-fs-16 {
    font-size: 16px !important;
}

.st-fs-17 {
    font-size: 17px !important;
}

.st-fs-18 {
    font-size: 18px !important;
}

.st-fs-19 {
    font-size: 19px !important;
}

.st-fs-20 {
    font-size: 20px !important;
}

.st-fs-21 {
    font-size: 21px !important;
}

.st-fs-22 {
    font-size: 22px !important;
}

.st-fs-23 {
    font-size: 23px !important;
}

.st-fs-24 {
    font-size: 24px !important;
}

.st-fs-25 {
    font-size: 25px !important;
}