* {
    box-sizing: border-box;
}

.table {
    width: 600px;
    position: relative;
    padding-left: 100px;
}

.inner {
    overflow: auto;
}

table {
    border-collapse: collapse;
    width: 900px;
}

table th,
table td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

table th {
    width: 100px;
    position: absolute;
    left: 0;
}